In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:
df=pd.read_csv('/content/drive/MyDrive/MSC/ML_ALL_PROGRAM_DS_SEM_2/11_Feb/auto-mpg.csv')
df.head()

    mpg  cylinders  displacement  ... model year  origin                   car name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

In [4]:
#Replace '?' With nan
df.replace('?',np.nan,inplace=True)

In [5]:
#Convert Horesepower to numeric
df['horsepower']=pd.to_numeric(df['horsepower'])

In [6]:
#drop Missing values
df=df.dropna()

In [7]:
#remove Non Numberic Column
if 'car name' in df.columns:
  df=df.drop(columns=['car name'])

In [8]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [9]:
# 2 Define Features And target
X=df.drop(columns=['mpg'])
y=df['mpg']

In [10]:
#train Test Split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#

In [13]:
#3 Backward Feature Selection

selected_featured=list(X.columns)

#train full model First
model=LinearRegression()
model.fit(X_train[selected_featured],y_train)
y_pred=model.predict(X_test[selected_featured])
best_score=r2_score(y_test,y_pred)

print("backword Feature Elimination Process:\n")
print(f"Initial R2 score (all Features): {best_score:.4f}")

backword Feature Elimination Process:

Initial R2 score (all Features): 0.7902

In [16]:
while len(selected_featured) > 1:
    scores = []

    for feature in selected_featured:
        features_to_test = selected_featured.copy()
        features_to_test.remove(feature)

        model = LinearRegression()
        model.fit(X_train[features_to_test], y_train)

        y_pred = model.predict(X_test[features_to_test])
        score = r2_score(y_test, y_pred)

        scores.append((score, feature))   # Only once

    # Find removal that gives highest R2
    scores.sort(reverse=True)
    current_best_score, worst_feature = scores[0]

    if current_best_score >= best_score:
        best_score = current_best_score
        selected_featured.remove(worst_feature)
        print(f"Removed Feature: {worst_feature}, R2 score: {best_score:.4f}")
    else:
        break

print("\nFinal Selected Features:")
print(selected_featured)

Removed Feature: origin, R2 score: 0.7942
Removed Feature: horsepower, R2 score: 0.7944

Final Selected Features:
['cylinders', 'displacement', 'weight', 'acceleration', 'model year']